/**
 * dark-base:		color0		#257134
 * vivid-base:		color1		#3ed808
 * palid-base:		color2		#9aca79
 * vivid-alert:		color3		#dc582f
 * vivid-highlight:	color4		#ffb52a
 * dark-background:	background	#051608
 */

* {
  dark:             #257134;
  vivid:            #3ed808;
  pale:             #9aca79;
  background:       #051608;
}
