@import "palette.rasi"

* {
  background-color: @background;
  text-color: @vivid;
}
#element {
  padding: @option-element-padding;
  text-color: @pale;
}
#element.selected {
  background-color: @dark;
  text-color: @background;
}
#window {
  width: 100%;
  height: 100%;
  padding: 300px 600px 500px 600px;
}

